/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  /*The following image is from http://frankbakerart.com/white-and-gray-background-jpg/*/
  background: url('background.jpg') no-repeat center center;
  background-size: cover;
  background-repeat: repeat-y;
  text-align: center;
}
h2 {
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 14.2px;
}
#error_explanation {
  font-size: 18px;
}
p {
  font-size: 16px;
}
.post {
  font-size: 25px;
  color: #FFFFFF;
  border: 5px solid white;
  background: rgba(0,0,0,0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:13px;
}
.comment_time {
  margin-top: 0;
  margin-bottom: -16px;
  text-align: right;
}
.comment_user {
  margin-top: 0;
  font-size: 15px;
  margin-bottom: -16px;
  margin-left: 5px;
  text-align: left;
}
time {
  font-size: 12px;
}
.post_user {
  font-size: 18px;
}
.comment {
  margin-bottom: -5px;
  border: 5px solid black;
  background: rgba(255,255,255,0.5)
}

/*I'd use a different font-family as well than the default.  I'd also use a different color/text-decoration for the links.  These are two simple things that can make a site look complete vs incomplete.*/
